@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000000;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: 72px auto 72px;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  width: 42px;
  height: 42px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3e%3c/svg%3e") center no-repeat;
  background-size: 24px;
  cursor: pointer;
  transition: 0.2s;
}

summary {
  list-style: none;
}